h1 {
	font-family: 'Lobster'; /* Sans Serif typeface */
	font-size: 90px;
	color: black;
	text-align: center;
	margin-top: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
}
h2 {
	font-family: 'Young Serif'; /*  Serif typeface */
	font-size: 40px;
	text-align: left;
	background-color: rgba(18, 18, 79, 0.273);
	color: black;
	padding: 20px 20px;
	margin-left: 40px;
	margin-right: 40px;
	display: flex;
  	align-items: center;
}
p {
	font-family:'Trebuchet MS';
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	line-height: 1.6;
}
/*icon image*/
img{ 
	height: 50px;
	width: auto;
	align-items:baseline;
	margin-right: 20px;
}
.main_title {
	background-size: cover;
	justify-content: center;
	align-items: center;
	position: relative; /* Add position relative for proper z-index */
}
  
.main_title::before {
	content: '';
	background-image: url("movie_background.jpg");
	background-size:cover;
	opacity: 0.40;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1; /* Ensure the pseudo-element is behind the content */
}

/* Add a class for the main container */
.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 60px;
	margin-right: 60px;
}

/* Add classes for left and right divisions */
.left-division {
	float: left;
	width: 50%;
}

.right-division {
	float: left;
	width: 50%;
}

.small_multiple {
	display: inline-flex;
}

.blue {
	font-weight: 900;
	font-size: 25px;
	font-style: italic;
	color: blue;
}

.gold {
	font-weight: 900;
	font-size: 35px;
	color: #D6AF36;
}
.silver {
	font-weight: 900;
	font-size: 30px;
	color: #c0c0c0;
}
.bronze {
	font-weight: 900;
	font-size: 25px;
	color: #cd7f32;
}